:root {
    --yellow: #ff9d00;
    --pink: #ff9aec;
    --green: #047931;
    --red: #f70909;
    --blue: #091cf7;
    --stroke-width: 3px;
}

.line {
    fill: none;
    stroke: var(--blue);
    stroke-width: 3px;
}

g {
    cursor: pointer;
}

.shape {
    fill: white;
    stroke-width: var(--stroke-width);
}

.type {
    stroke: none;
    fill: var(--blue);
}

.play:hover .type {fill: var(--yellow)}
.play:hover .shape { stroke: var(--yellow)}

.read:hover .type {fill: var(--pink)}
.read:hover .shape { stroke: var(--pink)}

.listen:hover .type {fill: var(--green)}
.listen:hover .shape { stroke: var(--green)}

.engage:hover .type {fill: var(--red)}
.engage:hover .shape { stroke: var(--red)}

.clone {
    opacity: 0;
}

.rg:hover .clone {
    opacity: 1;
}